<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272383080122-9a5ecd3niopkuep0ba1tbbqb253066bp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272383080122-9a5ecd3niopkuep0ba1tbbqb253066bp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>272383080122-ab2gegs0dreocvga9dig7638mea3u03v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyChuQ7Ns8k-u9oWPEKbXNdo41TOhcSNB0U</string>
	<key>GCM_SENDER_ID</key>
	<string>272383080122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mk.bandu</string>
	<key>PROJECT_ID</key>
	<string>taskgen-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>taskgen-ai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272383080122:ios:d4edc8c9c222036771b483</string>
</dict>
</plist>